{% extends 'base.html' %}

{% block title %}自动化测试平台--接口用例{% endblock title %}

{% block headappend %}
    <script type="text/javascript">

        $(function(){

            //当前的菜单
            $('.apicase').addClass('current');

            //删除 点击事件
            $('.delete').click(function () {
                //alert('delete');
                var isdelete=confirm('删除后将无法恢复，请谨慎操作，确认删除？');
                if(isdelete==true){
                    //获取模块id
                    var apicase_id=$(this).parent().siblings().filter('.id').html();
                    var apicase_name=$(this).parent().siblings().filter('.name').html();
                    //alert(apicase_id+','+apicase_name);
                    //发送ajax 执行删除操作
                    $.ajax({
                        'url': '/apitest/apicase/delete/',
                        'type': 'post',
                        'dataType': 'json',
                        'data':{'id':apicase_id,'name':apicase_name}
                    }).done(function(data){
                        data=data.data
                        alert(data.message);  //显示响应描述
                        window.location.reload();//刷新页面
                    }).fail(function (data) {
                        alert('删除失败，请稍后重试！');
                    })

                }

            })


        })

    </script>

    <style type="text/css">
        .menu-level2 li {
            display: block;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color:#292c39;
        }

        .table>thead>tr>th{
             border-bottom-color:grey;
        }

        .table>tbody>tr>td{
            border-top-color:grey;
        }

        .countnum{
            vertical-align: -webkit-baseline-middle;
        }


    </style>
{% endblock headappend %}

{% block content %}


{#搜索功能#}

    <div class="container " style="margin-left:20%;">
        <div style="float: left;">
            <form class="form-inline" method="get" action="/apitest/apicase/search/">
                <div class="form-group">
                    <input type="text" class="form-control col-sm-2" name="apicase_name" required="" placeholder="用例名称" style="background-color: #171c28;border:1px solid grey;color:white">
                </div>
                <button type="submit" class="btn btn-info">查找</button>
            </form>
        </div>
        <div style="float:right; margin-right: 50%">
            <a href="/apitest/apicase/add/"><button type="button" class="btn btn-info">新增</button></a>
            <a href="/apitest/apicase/run/"><button type="button" class="btn btn-info" style="margin-left: 40px">运行</button></a>
        </div>

    </div>


{#用例信息列表#}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" style="margin-top: 20px;color: white;">
                <thead>
                    <tr>
                        <th>用例ID</th>
                        <th>产品名称</th>
                        <th>模块名称</th>
                        <th>用例名称</th>
                        <th>用例描述</th>
                        <th>请求地址</th>
                        <th>请求头信息</th>
                        <th>请求参数</th>
{#                        <th>依赖数据</th>#}
                        <th>是否执行</th>
                        <th>响应数据</th>
                        <th>断言</th>
                        <th>执行结果</th>
                        <th>需要存储</th>
                        <th>存储数据</th>
                        <th>执行耗时</th>
                        <th>其他信息</th>
                        <th>执行时间</th>
{#                        <th>创建时间</th>#}
                        <th>查看</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                </thead>

                <tbody>

                {% for apicase in apicases %}
                    <tr>
                        <td class="id">{{ apicase.id }}</td>
                        <td>{{ apicase.product_id.product_name }}</td>
                        <td>{{ apicase.module_id.module_name }}</td>
                        <td class="name">{{ apicase.apicase_name }}</td>
                        <td>{{ apicase.apicase_desc }}</td>
                        <td>{{ apicase.apicase_url }}</td>
                        <td>{{ apicase.apicase_head }}</td>
                        <td>{{ apicase.apicase_param }}</td>
{#                        <td>{{ apicase.apicase_relydata }}</td>#}
                        <td>
                            {% if apicase.apicase_execute %}
                                <a style="color:greenyellow">{{ apicase.apicase_execute }}</a>
                            {% else %}
                                <a style="color:red">{{ apicase.apicase_execute }}</a>
                            {% endif %}
                        </td>
                        <td>{{ apicase.apicase_response }}</td>
                        <td>{{ apicase.apicase_assert }}</td>
                        <td>
                            {% if apicase.apicase_result %}
                                <a style="color:greenyellow">{{ apicase.apicase_result }}</a>
                            {% else %}
                                <a style="color:red">{{ apicase.apicase_result }}</a>
                            {% endif %}
                        </td>
                        <td>{{ apicase.apicase_needstore }}</td>
                        <td>{{ apicase.storedata }}</td>
                        <td>{{ apicase.apicase_taketime }}</td>
                        <td>{{ apicase.apicase_others }}</td>
                        <td>{{ apicase.execute_time }}</td>
{#                        <td>{{ apicase.create_time }}</td>#}
                        <td>
                            <a href="/apitest/apicase/detail/{{ apicase.id }}">
                                <img src="/static/admin/img/icon-yes.svg">
                            </a>
                        </td>
                        <td>
                            <a style="color:lightblue;" class="change" href="/apitest/apicase/change/{{ apicase.id }}/">
                                <img src="/static/admin/img/icon-changelink.svg">
                            </a>
                        </td>
                        <td>
                            <a style="color:lightblue" href="#" class="delete">
{#                                href="/product/delete/{{ product.id }}/"#}
                                <img src="/static/admin/img/icon-deletelink.svg">
                            </a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    <br/>
    <div class="container" style="text-align: center;color:red">
    {{ err_msg }}
    </div>


    <div style="text-align: center">

        <!-- 统计功能 -->
        <!--
        <div style="color:#337ab7">
            共&nbsp;{{ modules_count }}&nbsp;条数据&nbsp;&nbsp;
        </div>
        -->

        <!-- 翻页功能 -->
        <div style="text-align: center;vertical-align: center">

        <a class="countnum" style="font-size:16px;color:white;">共&nbsp;{{ apicase_count }}&nbsp;条数据&nbsp;&nbsp;</a>

            <ul class="pagination" id="pager">

                <!-- 上一页链接 -->
                {% if apicases.has_previous %}
                    <!-- 如果有上一页，正常展示上一页链接 -->
                    <li class="previous">
                        <a href="/apitest/apicase/?page={{ apicases.previous_page_number }}">上一页</a>
                    </li>
                {% else %}
                    <!-- 如果没有，不跳转 -->
                    <li class="previous disabled">
{#                        <a href="#">上一页</a>#}
                        &nbsp;&nbsp;
                    </li>
                {% endif %}

                <!-- 当前页 -->
                {% for num in apicases.paginator.page_range %}
                    {% if num == apicases.number %}
                        <li class="item  active">
                            <a href="#">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="item">
                            <a href="/apitest/apicase/?page={{ num }}">{{ num }}</a>
                            &nbsp;&nbsp;
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- 下一页 -->
                {% if apicases.has_next %}
                    <li class="next">
                        <a href="/apitest/apicase/?page={{ apicases.next_page_number }}">下一页</a>
                    </li>
                {% else %}
                    <li class="next disabled">
{#                        <a href="#">下一页</a>#}
                    </li>
                {% endif %}

            </ul>
        </div>

    </div>

{% endblock content %}