{% extends 'base.html' %}
{% block title %}自动化测试平台--产品管理{% endblock title %}

{% block headappend %}
    <script type="text/javascript">

        $(function(){

            //当前的菜单
            $('.product').addClass('current');

            //删除 点击事件
            $('.delete').click(function () {
                //alert('delete');
                var isdelete=confirm('删除后将无法恢复，请谨慎操作，确认删除？');
                if(isdelete==true){
                    //获取产品id
                    var pid=$(this).parent().siblings().filter('.pid').html();
                    var pname=$(this).parent().siblings().filter('.name').html();
                    //alert(pid+','+pname);
                    //发送ajax 执行删除操作
                    $.ajax({
                        'url': '/product/delete/',
                        'type': 'post',
                        'dataType': 'json',
                        'data':{'pid':pid,'pname':pname}
                    }).done(function(data){
                        data=data.data
                        alert(data.message);  //显示响应描述
                        window.location.reload();//刷新页面
                    }).fail(function (data) {
                        alert('删除失败，请稍后重试！');
                    })

                }

            })



        })

    </script>

    <style type="text/css">

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color:#292c39;
        }

        .table>thead>tr>th{
             border-bottom-color:grey;
        }

        .table>tbody>tr>td{
            border-top-color:grey;
        }


    </style>
{% endblock headappend %}

{% block content %}


{#搜索功能#}

    <div class="container " style="margin-left:20%;">
        <div style="float: left;">
            <form class="form-inline" method="get" action="/product/search/">
                <div class="form-group">
                    <input type="text" class="form-control col-sm-2" name="product_name" required="" placeholder="产品名称" style="background-color: #171c28;border:1px solid grey;color:white">
                </div>
                <button type="submit" class="btn btn-info">查找</button>
            </form>
        </div>
        <div style="float:right; margin-right: 50%">
            <a href="/product/add/"><button type="button" class="btn btn-info">新增</button></a>
        </div>

    </div>


{#产品信息列表#}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" style="margin-top: 20px;color: white;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>产品名称</th>
                        <th>产品描述</th>
                        <th>产品负责人</th>
                        <th>创建时间</th>
                        <th>查看</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                </thead>

                <tbody>
                {% for product in products %}
                    <tr>
                        <td class="pid">{{ product.id }}</td>
                        <td class="name">{{ product.product_name }}</td>
                        <td>{{ product.product_desc }}</td>
                        <td>{{ product.product_manager }}</td>
                        <td>{{ product.create_time }}</td>
                        <td>
                            <a href="/product/detail/{{ product.id }}">
                                <img src="/static/admin/img/icon-yes.svg">
                            </a>
                        </td>
                        <td>
                            <a style="color:lightblue;" class="change" href="/product/change/{{ product.id }}/">
                                <img src="/static/admin/img/icon-changelink.svg">
                            </a>
                        </td>
                        <td>
                            <a style="color:lightblue" href="#" class="delete">
{#                                href="/product/delete/{{ product.id }}/"#}
                                <img src="/static/admin/img/icon-deletelink.svg">
                            </a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    <br/>
    <div class="container" style="text-align: center;color:red">
    {{ err_msg }}
    </div>


    <div style="text-align: center">


        <!-- 翻页功能 -->
        <div style="text-align: center;vertical-align: center">

         <a class="countnum" style="font-size:16px;color:white;">共&nbsp;{{ products_count }}&nbsp;条数据&nbsp;&nbsp;</a>

            <ul class="pagination" id="pager">

                <!-- 上一页链接 -->
                {% if products.has_previous %}
                    <!-- 如果有上一页，正常展示上一页链接 -->
                    <li class="previous">
                        <a href="/product/index/?page={{ products.previous_page_number }}">上一页</a>
                    </li>
                {% else %}
                    <!-- 如果没有，不跳转 -->
                    <li class="previous disabled">
{#                        <a href="#">上一页</a>#}
                        &nbsp;&nbsp;
                    </li>
                {% endif %}

                <!-- 当前页 -->
                {% for num in products.paginator.page_range %}
                    {% if num == products.number %}
                        <li class="item  active">
                            <a href="#">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="item">
                            <a href="/product/index/?page={{ num }}">{{ num }}</a>
                            &nbsp;&nbsp;
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- 下一页 -->
                {% if products.has_next %}
                    <li class="next">
                        <a href="/product/index/?page={{ products.next_page_number }}">下一页</a>
                    </li>
                {% else %}
                    <li class="next disabled">
{#                        <a href="#">下一页</a>#}
                    </li>
                {% endif %}

            </ul>
        </div>

    </div>

{% endblock content %}